<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <div id="container-form">
        <h1>Chat</h1>
        <form id="container-form" action="/message" method="POST">
    <input type="text" id="username" placeholder="Ingresar el Nombre de Usuario" name="user" required>
    <input type="text" id="message" placeholder="Ingresar el Mensaje" name="message" required> 
    <button type="submit">Ingresar Mensaje</button>
</form>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>