<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>Login</title>
</head>

<body>
    <div class="bg-white ">
  <h1 class="">Login</h1>
  <form id="loginForm" class="mb-4">
    <div class="mb-4">
      <label class="block " for="email">
        Email
      </label>
      <input
        class=" border rounded w-full py-2 px-3 text-gray-700 leading-tight "
        id="email" name="email" type="email" required
        placeholder="example@example.com"
      />
    </div>
    <div class="mb-6">
      <label class="block " for="password">
        Contraseña
      </label>
      {{!-- <input
        class=""
        id="password" name="password" type="password" required
        placeholder="********" --}}
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Ingresar
      </button>
    </div>
  </form>
  <p class="text-sm">
    ¿No estás registrado? <a class="" href="/register">Regístrate aquí</a>
  </p>
  <div class="mt-4">
    <p class="text-sm">
      <a class=" " href="/session/github">Autenticarse con Github</a>
    </p>
  </div>
</div>


    <script type="module" src="/js/login.js"></script>
</body>

</html>