<div class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 shadow-md rounded-md w-96">
    <h1 class="text-2xl font-bold mb-4">Registro</h1>
    <form id="registerForm" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-600">Nombre</label>
        <input name="first_name" type="text" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-600">Apellido</label>
        <input name="last_name" type="text" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-600">Email</label>
        <input name="email" type="email" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-600">Edad</label>
        <input name="age" type="text" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-600">Contraseña</label>
        <input name="password" type="password" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-600">Rol</label>
        <input name="rol" type="text" class="mt-1 p-2 w-full border rounded-md" />
      </div>
      <button type="submit" class="w-2/3 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white p-2 rounded-md">
        Registrarse
      </button>
    </form>
    <p class="mt-4 text-sm">
      ¿Ya tienes una cuenta? <a href="/" class="text-blue-500 hover:text-blue-700">Ingresa aquí</a>
    </p>
  </div>
</div>

<script type="module" src="/js/register.js"></script>